.centrar-algo {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.estilos-ul {
    display: flex; 
    flex-direction: column;
    list-style: none;
    row-gap: 1rem;
}

.background-ajustes {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
