// variables de color
$color-verde-opaco:rgb(136, 131, 46);
$color-verde-components: rgb(75, 145, 75);
$color-blanco:rgb(244, 245, 245);
$color-verde-amarillento:rgb(199, 191, 29);
$color-azul:rgb(42, 115, 223);
$color-verde-fuerte:rgb(7, 87, 56);
$color-negro:#000