@use './../utilities/variables';
/* estilos de header */
.background-header {
    background-color: variables.$color-verde-components;
        .contenedor-de-los-items-del-nav{
            padding: 0;
            .logo-header {
                display: flex;
                align-items: center;
                h2{
                    align-items: center;
                text-align: center;
                }
                img {
                    width: 90px;
                    height: 75px;
                    &:hover{

                        transform: rotate(360deg);
                        transition: transform 1s;
                        cursor: pointer;
                    }
                    &:focus{
                        transform: rotate(360deg);
                        transition: transform 1s;
                        cursor: pointer;
                    }
                }
                .titulo-header{
                    color: rgb(199, 191, 29);
                    font-weight: 700;
                }
            }
            .menu-button{
                border: none;
                &:focus {
                    box-shadow: none;
                }
                .menu-icon {
                    background-image: url(./../img/img-index/hamburger-menu-svgrepo-com.png);
                }
            }
            .menu{
                .ul-header {
                    align-items: center;
                        .nav-item{
                            a{
                                text-decoration: none;
                                color: $color-blanco;
                                &:hover{
                                    transition: all 1s;
                                    text-decoration: $color-blanco underline;
                                    color: #000;
                                }
                            }
                        }
                }
            }
        }
}