/* estilos de main */
body
.main-index {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: url(./../img/img-index/fondo.main.bmp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 0 7px #8d8d8d;
    .presentacion-general-index{
        @extend .centrar-algo;
        margin-bottom: 2rem;
        .titulo-index {
            display: flex;
            justify-content: center;  
                h1{
                    font-size: 2.4rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: $color-blanco;
                }
            }
            .descripcion-index{
                background-color: rgba(255, 255, 255, 0.342);
                backdrop-filter: blur(6px);
                padding: 1rem;
                border-radius: 1rem;
            }
    }
    .epocas-index {
        @include flex-container(row, center, center, wrap);
        gap: 1.5rem;
        margin-bottom: 2rem;
        .carta-index{
            border-radius: 2rem;
        }
        .cuerpo-carta{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .boton-card-index{
                background-color: $color-verde-fuerte;
                border:none;
                &:hover{
                    background-color: $color-verde-opaco;
                }
            }
        }
    }
    
}

