/* ESTILOS MOBILE-FIRST --------------------------------------------------------------------------------------------------------------------------------------------------*/

main {
    padding-top: 2rem;
    padding-bottom: 2rem;
            .carrusel {
                max-height: 400px;
                overflow: hidden;
                        img{
                            object-fit: cover;
                            height: 400px;
                        }
                    }
            .informacion-ambiente{
                margin-right: 6rem;
            }

    /* SECTION GRID-ESPECIES */
    .grid-especies {
        width: 100%;
        article {
            .contenedor-de-descripcion {
                margin-left: 1rem;
                margin-right: 1rem;
                .descripcion {
                    color: $color-blanco;
                }
            }
            border-radius: 1rem;
            .grid-container-cards {
                // contiene una propiedad de grid columns parecida a wrap: wrap; (ajusta automaticamente las columnas)
                @include grid-container(repeat(auto-fit, minmax(500px, 1fr)), repeat(2, 450px), .5rem);
                    .card{
                        width: 100%;
                            .card__image{
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                                object-position: center;
                            }
                    }
            }
        }
        .carnivoros {
            background-color: $color-verde-opaco ;
            margin-top: 2rem;
            margin-bottom: 2rem;
            padding: .5rem;
        }
        
        /* herviboros */
        .herviboros {
            background-color: $color-azul;
            margin-bottom: 2rem;
            padding: .5rem;
        }
        /* flora */
        .flora {
            background-color: $color-verde-fuerte;
            padding: .5rem;
        }
    }
} 
